---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
//import ContactUs from '~/components/widgets/Contact.astro';
import Steps2 from '~/components/widgets/Steps2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <!-- 
  <ContactUs
    id="form"
    title="Drop us a message today!"
    subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Our support team typically responds within 24 business hours."
  />
  -->

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Reach out to us"
    subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
    callToAction={{
      text: 'FAQs',
      href: '/faqs',
    }}
    items={[
      {
        title: 'WhatsApp us',
        description: "<a href='https://wa.link/guidemyclass', target='_blank'>GuideMyClass</a>",
        icon: 'tabler:brand-whatsapp',
      },
      {
        title: 'Email us',
        description: "<a href='mailto:support@guidemyclass.com'>support@guidemyclass.com</a>",
        icon: 'tabler:mail',
      },
      {
        title: 'Telegram us',
        description: "<a href='http://t.me/guidemyclass', target='_blank'>@guidemyclass</a>",
        icon: 'tabler:brand-telegram',
      },
      {
        title: 'WeChat us',
        description: "<a href='https://u.wechat.com/kJaHNGiI-vTnCM4qcrUEY4s', target='_blank'>@privyprofessor</a>",
        icon: 'tabler:brand-wechat',
      },
      {
        title: 'Join our Discord',
        description: "<a href='https://discord.gg/zxfG3s3aXH', target='_blank'>GuideMyClass</a>",
        icon: 'tabler:brand-discord',
      },
      {
        title: 'Join our WhatsApp group',
        description: "<a href='https://chat.whatsapp.com/CbdPRJ1rSKmFhS6xzX4sFO', target='_blank'>GuideMyClass</a>",
        icon: 'tabler:brand-whatsapp',
      },
    ]}
  />

</Layout>
